---
import Layout from "../../layouts/Layout.astro";
import {Image} from "astro:assets";
import Button from "../../components/ui/Button.astro";
import {ArrowDown, Zap, Smile, Clock, Cable} from "@lucide/astro";
import InsurancePortal from "../../assets/insurance-portal/home.webp";
import InsurancePortalCar from "../../assets/insurance-portal/car-insurance-mockup.webp";
import InsurancePortalConfiguration from "../../assets/insurance-portal/insurance-portal-configuration.webp";
import Flow from "../../assets/insurance-portal/flow.webp";
import Inbox from "../../assets/insurance-portal/inbox.webp";
import Cta from "../../components/sections/Cta.astro";

const features = [
  {
    title: 'Dynamisch en modulair',
    description: 'Stel afsluitstraten eenvoudig in via productconfiguratie, zonder maatwerk.',
    icon: Zap
  },
  {
    title: 'Altijd beschikbaar',
    description: 'Klanten kunnen 24/7 verzekeringen afsluiten of aanvragen, zonder afhankelijk te zijn van kantooruren.',
    icon: Clock
  },
  {
    title: 'Naadloze koppeling met administratie',
    description: 'Alle aanvragen komen automatisch terecht in jouw backoffice.',
    icon: Cable
  },
  {
    title: 'Meer tijd voor advies',
    description: 'Jij besteedt minder tijd aan administratie en meer aan persoonlijk contact.',
    icon: Smile
  }
]
---

<Layout title="Klantportaal"
        description="Bied je klanten inzicht in verzekeringen, documenten en contactopties. Met een gebruiksvriendelijk portaal dat volledig in jouw stijl werkt.">
  <section id="hero" class="pt-16 sm:pt-24 2xl:pt-32 pb-16 sm:pb-28 overflow-x-clip">
    <div class="container">
      <div class="flex flex-col lg:flex-row items-center gap-12 lg:gap-24">
        <div>
          <div class="space-y-4">
            <h1
              class="display text-center lg:text-left bg-clip-text text-transparent bg-gradient-to-t from-[#16136C] to-foreground mb-4 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-150">
              Efficiënt en veilig afsluiten met de digitale afsluitstraat
            </h1>
            <p
              class="text-center lg:text-left sm:text-lg mb-10 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-300">
              Laat klanten eenvoudig online verzekeringen aanvragen en afsluiten. Dynamisch opgezet, volledig gekoppeld
              aan jouw administratie.
            </p>
          </div>

          <div class="flex flex-col justify-center lg:justify-start sm:flex-row gap-4 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-450">
            <Button href="/demo" size="lg" class="w-full lg:w-auto">
              Proefaccount aanvragen
            </Button>
            <Button href="#features" variant="outline" size="lg" class="w-full lg:w-auto">
              <ArrowDown class="text-primary size-6"/>
              Ontdek de voordelen
            </Button>
          </div>
        </div>
        <div
          class="grid place-items-center gradient-background lg:aspect-square w-full lg:w-auto  h-[400px] lg:h-[440px] 2xl:h-[600px] lg:max-h-none border rounded-3xl mx-auto overflow-hidden shrink-0">
          <Image src={InsurancePortal} alt="Afsluitstraat"
                 class="w-[260px] lg:w-3/5 mt-6 lg:mt-16 starting:opacity-0 starting:translate-y-4 transition-all duration-1000"/>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="py-20 sm:py-28">
    <div class="container">
      <div class="flex flex-col lg:flex-row justify-between gap-8 sm:gap-16">
        <Image
          src={InsurancePortalCar}
          alt="Afsluitstraat"
          class="order-last lg:order-first lg:max-w-[600px] xl:max-w-[640px] w-full lg:aspect-square rounded-3xl object-cover"
          data-aos="custom-zoom-in"
          data-aos-duration="400"
          data-aos-delay="400"
          data-aos-once="true"
        />
        <div data-aos="custom-fade-up" data-aos-duration="400" data-aos-once="true">
          <div class="text-primary font-medium mb-2">Voordelen voor klanten en medewerkers</div>
          <h1 class="mb-12 sm:mb-16">Voordelen van de digitale afsluitstraat</h1>
          <ul class="grid md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-8 sm:gap-y-12">
            {features.map((feature) => (
              <li class="flex flex-col items-start">
                <div class="flex items-center justify-center text-primary border rounded-lg size-12 mb-4">
                  <feature.icon class="size-6"/>
                </div>
                <div>
                  <h2 class="text-lg font-medium mb-1">{feature.title}</h2>
                  <p class="text-muted-foreground">{feature.description}</p>
                </div>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gradient-to-t from-muted to-muted/50 py-20 sm:py-28">
    <div class="container">
      <div class="flex flex-col items-center">
        <h1 class="text-center max-w-[600px] mb-16" data-aos="custom-fade-up" data-aos-duration="400"
            data-aos-once="true">
          Hoe werkt het?</h1>
        <ul class="grid lg:grid-cols-3 gap-8">
          <li data-aos="custom-fade-up" data-aos-duration="400" data-aos-delay="200" data-aos-once="true">
            <div class="relative bg-background border rounded-2xl shadow-md overflow-hidden h-[320px] mb-6 pt-4">
              <div class="absolute h-1/2 inset-x-0 bottom-0 bg-gradient-to-t from-background to-transparent"></div>
              <Image src={InsurancePortalConfiguration} alt="Afsluitstraat configuratie" class="w-[350px] mx-auto"/>
            </div>
            <h2 class="h4 mb-2">1. Afsluitstraat instellen</h2>
            <p class="text-sm text-muted-foreground">Configureer eenvoudig welke verzekeringsproducten beschikbaar zijn
              in de afsluitstraat. Geen maatwerk, gewoon op basis van bestaande productconfiguratie.</p>
          </li>
          <li data-aos="custom-fade-up" data-aos-duration="400" data-aos-delay="400" data-aos-once="true">
            <div class="relative bg-background border rounded-2xl shadow-md overflow-hidden h-[320px] mb-6 pt-4">
              <div class="absolute h-1/2 inset-x-0 bottom-0 bg-gradient-to-t from-background to-transparent"></div>
              <Image src={Flow} alt="Verzekering aanvragen" class="w-[350px] mx-auto"/>
            </div>
            <h2 class="h4 mb-2">2. Klant doorloopt de aanvraag</h2>
            <p class="text-sm text-muted-foreground">De klant kiest een verzekering en vult de benodigde gegevens in. De
              flow past zich automatisch aan het product aan.</p>
          </li>
          <li data-aos="custom-fade-up" data-aos-duration="400" data-aos-delay="600" data-aos-once="true">
            <div class="relative bg-background border rounded-2xl shadow-md overflow-hidden h-[320px] mb-6 pt-4">
              <div class="absolute h-1/2 inset-x-0 bottom-0 bg-gradient-to-t from-background to-transparent"></div>
              <Image src={Inbox} alt="Verwerking aanvraag" class="w-[350px] mx-auto"/>
            </div>
            <h2 class="h4 mb-2">3. Direct verwerkt in de administratie</h2>
            <p class="text-sm text-muted-foreground">De aanvraag wordt direct verwerkt in je backoffice en zichtbaar in
              het klantportaal.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <Cta
    heading="Klaar om sneller en slimmer af te sluiten?"
    text="Vraag vrijblijvend een demo aan en ontdek hoe hoe je binnen een week jouw afsluitstraat live kunt hebben."/>
</Layout>

<style>
  .gradient-background {
    background: linear-gradient(-45deg, hsl(var(--primary) / .25), transparent 50%),
    linear-gradient(45deg, hsl(var(--accent) / .25), transparent 50%);
  }
</style>