---
import Layout from "../../layouts/Layout.astro";
import {Image} from "astro:assets";
import Button from "../../components/ui/Button.astro";
import {ArrowDown, Files, Smartphone, Shield, RefreshCw} from "@lucide/astro";
import Klantportaal from "../../assets/klantportaal-mockup.webp";
import KlantportaalAirplane from "../../assets/klantportaal-mockup-vliegtuig.webp";
import MijnVerzekeringen from "../../assets/mijn-verzekeringen.webp";
import Cta from "../../components/sections/Cta.astro";

const features = [
  {
    title: 'Altijd en overal toegang',
    description: 'Laat klanten zelf polissen, documenten, etc. inzien. Zo verminder je repeterende vragen via mail of telefoon.',
    icon: Smartphone
  },
  {
    title: 'Nooit meer zoeken naar documenten',
    description: 'Door selfservice-functies en centrale informatie is er minder ruis en ruimte voor persoonlijk contact.',
    icon: Files
  },
  {
    title: 'Veilig en vertrouwd',
    description: 'Het klantportaal voldoet aan de beveiligingsstandaarden, inclusief AVG.',
    icon: Shield
  },
  {
    title: 'Altijd synchroon met jou',
    description: 'Wat jij ziet, ziet je klant dankzij real-time data via veilige koppeling.',
    icon: RefreshCw
  }
]
---

<Layout title="Klantportaal" description="Bied je klanten inzicht in verzekeringen, documenten en contactopties. Met een gebruiksvriendelijk portaal dat volledig in jouw stijl werkt.">
  <section id="hero" class="pt-16 sm:pt-24 2xl:pt-32 pb-16 sm:pb-28 overflow-x-clip">
    <div class="container">
      <div class="flex flex-col lg:flex-row items-center gap-12 lg:gap-24">
        <div>
          <div class="space-y-4">
            <h1 class="display text-center lg:text-left bg-clip-text text-transparent bg-gradient-to-t from-[#16136C] to-foreground mb-4 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-150">
              Geef je klant grip, gemak en vertrouwen
            </h1>
            <p class="text-center lg:text-left sm:text-lg mb-10 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-300">
              Via het klantportaal van Insync hebben jouw klanten 24/7 toegang tot hun verzekeringen, documenten en schades. Dat voorkomt onnodige vragen én versterkt jullie relatie.
            </p>
          </div>

          <div class="starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-450">
            <Button href="#features" variant="outline" size="lg" class="w-full lg:w-auto">
              <ArrowDown class="text-primary size-6"/>
              Ontdek de voordelen
            </Button>
          </div>
        </div>
        <div class="grid place-items-center gradient-background lg:aspect-square w-full lg:w-auto  h-[400px] lg:h-[440px] 2xl:h-[600px] lg:max-h-none border rounded-3xl mx-auto overflow-hidden shrink-0">
          <Image src={Klantportaal} alt="Klantportaal" class="w-[260px] lg:w-3/5 mt-6 lg:mt-16 starting:opacity-0 starting:translate-y-4 transition-all duration-1000"/>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="py-20 sm:py-28">
    <div class="container">
      <div class="flex flex-col lg:flex-row justify-between gap-8 sm:gap-16">
        <Image src={KlantportaalAirplane} alt="Klantportaal" class="order-last lg:order-first lg:max-w-[600px] xl:max-w-[640px] w-full lg:aspect-square rounded-3xl object-cover"/>
        <div>
          <div class="text-primary font-medium mb-2">Voordelen voor klanten</div>
          <h1 class="mb-12 sm:mb-16">Wat Insync voor jouw klanten betekent</h1>
          <ul class="grid md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-x-6 gap-y-8 sm:gap-y-12">
            {features.map((feature) => (
              <li class="flex flex-col items-start">
                <div class="flex items-center justify-center text-primary border rounded-lg size-12 mb-4">
                  <feature.icon class="size-6"/>
                </div>
                <div>
                  <h2 class="text-lg font-medium mb-1">{feature.title}</h2>
                  <p class="text-muted-foreground">{feature.description}</p>
                </div>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gradient-to-t from-muted to-muted/50 py-20 sm:py-28">
    <div class="container">
      <div class="flex flex-col items-center">
        <h1 class="text-center max-w-[600px] mb-16">Snel, eenvoudig en gebruiksvriendelijk</h1>
        <ul class="grid lg:grid-cols-3 gap-8">
          <li>
            <div class="relative bg-background border rounded-2xl shadow-md overflow-hidden h-[320px] mb-6 pt-4">
              <div class="absolute h-1/2 inset-x-0 bottom-0 bg-gradient-to-t from-background to-transparent"></div>
              <Image src={MijnVerzekeringen} alt="Verzekeringen overzicht" class="w-[350px] mx-auto"/>
            </div>
            <h2 class="h4 mb-2">Altijd inzicht in je dekking</h2>
            <p class="text-sm text-muted-foreground">Klanten zien direct welke verzekeringen ze hebben, inclusief
              details. Overzichtelijk en actueel.</p>
          </li>
          <li>
            <div class="relative bg-background border rounded-2xl shadow-md overflow-hidden h-[320px] mb-6">
              <div class="absolute h-1/2 inset-x-0 bottom-0 bg-gradient-to-t from-background to-transparent"></div>
              <!--<Image src={} alt="Verzekeringen overzicht"/>-->
            </div>
            <h2 class="h4 mb-2">Alle documenten op één plek</h2>
            <p class="text-sm text-muted-foreground">Polissen, verzekeringsbewijzen en facturen veilig opgeslagen en
              altijd beschikbaar. Geen zoekwerk of e-mail nodig</p>
          </li>
          <li>
            <div class="relative bg-background border rounded-2xl shadow-md overflow-hidden h-[320px] mb-6">
              <div class="absolute h-1/2 inset-x-0 bottom-0 bg-gradient-to-t from-background to-transparent"></div>
              <!--<Image src={} alt="Verzekeringen overzicht"/>-->
            </div>
            <h2 class="h4 mb-2">Eenvoudig in contact met jou</h2>
            <p class="text-sm text-muted-foreground">Via het klantportaal neemt je klant rechtstreeks contact op, mét context van hun verzekeringen.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <Cta/>
</Layout>

<style>
  .gradient-background {
      background:
              linear-gradient(-45deg, hsl(var(--primary) / .25), transparent 50%),
              linear-gradient(45deg, hsl(var(--accent) / .25), transparent 50%);
  }
</style>